<div class="forms">
    <% if current_user %>
        <%= current_user.email %>
        <%= link_to 'Sign Out', session_path, remote: true, method: :delete %>
    <% end %>
    <%= render 'sessions/form' %>
</div>
