<div class="forms">
    <% if current_user %>
        <%= current_user.email %>
        <%= link_to 'Sign Out', session_path, method: :delete %>
    <% else %>
    <p>
      Don't have an account?
      <%= link_to 'Click here', new_user_path %>
      <div>-- or --</div>
      <div>Sign in </div>
    </p>
    <% end %>
    <%= render 'sessions/form' %>
</div>
